Repository ngxs/store, pull requests merged in 2019-10, with the labels that each got.

#1278 build(ci): add build integration test with Angular 9 (Ivy)
  .circleci/config.yml
  .travis.yml
  integrations/ivy/angular.json
  integrations/ivy/package.json
  integrations/ivy/src/app/app-ivy.module.ts
  integrations/ivy/src/app/app.component.html
  integrations/ivy/src/app/app.component.ts
  integrations/ivy/src/app/app.state.ts
  integrations/ivy/src/app/store-ivy.module.ts
  integrations/ivy/src/assets/.gitkeep
  integrations/ivy/src/environments/environment.prod.ts
  integrations/ivy/src/environments/environment.ts
  integrations/ivy/src/favicon.ico
  integrations/ivy/src/index.html
  integrations/ivy/src/main.ts
  integrations/ivy/src/polyfills.ts
  integrations/ivy/tsconfig.app.json
  integrations/ivy/tsconfig.json
  package.json
Labels: Continuous Integration (CI)

#1215 feat(form-plugin): implement `propertyPath` parameter in the `UpdateFormValue`
  docs/plugins/form.md
  packages/form-plugin/src/actions.ts
  packages/form-plugin/src/form.plugin.ts
  packages/form-plugin/tests/property-path.spec.ts
Labels: FEATURE, domain:plugins, on hold

#1368 docs: update actions style guide
  docs/concepts/actions.md
Labels: domain:docs

#1371 feat(websocket-plugin): implement `WebSocketConnected` action
  docs/plugins/websocket.md
  packages/websocket-plugin/src/public_api.ts
  packages/websocket-plugin/src/symbols.ts
  packages/websocket-plugin/src/websocket-handler.ts
  packages/websocket-plugin/tests/websocket.module.spec.ts
Labels: FEATURE, domain:plugins

#1383 docs: fix typo
  docs/advanced/action-handlers.md
  docs/advanced/options.md
  docs/advanced/sub-states.md
  docs/concepts/select.md
  docs/introduction/installation.md
  docs/recipes/immutability-helpers.md
Labels: type: docs

#1369 feat(hmr-plugin): add option for persisting state after the root module is disposed
  docs/plugins/hmr.md
  packages/hmr-plugin/src/hmr-bootstrap.ts
  packages/hmr-plugin/src/symbols.ts
  packages/hmr-plugin/src/tests/hmr-helpers.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
Labels: domain: plugins, type: feature

#1379 fix(store): do not re-throw error to the global handler if custom is provided
  packages/store/src/internal/dispatcher.ts
  packages/store/tests/dispatch.spec.ts
Labels: domain: core, type: bug/fix

#1382 test(form-plugin): replace `select` with `selectSnapshot`
  packages/form-plugin/tests/form.plugin.spec.ts
Labels: domain: plugins, type: test

#1381 fix(store): group `Actions` subscriptions to remove memory leak
  packages/store/src/actions-stream.ts
  packages/store/tests/actions-stream.spec.ts
  tsconfig.json
Labels: domain: core, type: bug/fix
