Repository ngxs/store, pull requests merged in 2019-12, with the labels that each got.

#1474 feat(store): warn about undecorated state class if Ivy is enabled in dev (both JIT/AOT)
  .lintstagedrc.json
  bundlesize.config.json
  integrations/hello-world-ng6/package.json
  integrations/ivy/jest.config.js
  integrations/ivy/package.json
  integrations/ivy/src/app/app.component.spec.ts
  integrations/ivy/yarn.lock
  package.json
  packages/store/src/ivy/ensure-state-class-is-injectable.ts
  packages/store/src/ivy/ivy-enabled-in-dev-mode.ts
  packages/store/src/ivy/ivy-enabled-in-jit-mode.ts
  packages/store/src/modules/ngxs-root.module.ts
  yarn.lock
Labels: angular:ivy, domain: core, type: feature

#1492 build: add E2E tests for the Ivy integration
  .circleci/config.yml
  .gitignore
  integrations/ivy/angular.json
  integrations/ivy/cypress.json
  integrations/ivy/cypress/fixtures/example.json
  integrations/ivy/cypress/integration/index-page.spec.ts
  integrations/ivy/cypress/plugins/cypress-webpack.config.js
  integrations/ivy/cypress/plugins/index.js
  integrations/ivy/cypress/support/base.po.ts
  integrations/ivy/cypress/support/index.po.ts
  integrations/ivy/cypress/tsconfig.json
  integrations/ivy/package.json
  integrations/ivy/src/app/app.component.html
  integrations/ivy/src/app/app.component.ts
  integrations/ivy/src/app/app.module.ts
  integrations/ivy/src/app/app.state.ts
  integrations/ivy/src/app/store/counter/counter.actions.ts
  integrations/ivy/src/app/store/counter/counter.state.ts
  integrations/ivy/src/app/store/index.ts
  integrations/ivy/src/app/store/store.module.ts
  integrations/ivy/src/main.ts
  integrations/ivy/tsconfig.json
  integrations/ivy/yarn.lock
  package.json
  yarn.lock
Labels: angular:ivy, type: build

#1508 fix: selectors should be deterministic based on store being used
  CHANGELOG.md
  bundlesize.config.json
  cypress/ssr/ssr.spec.ts
  packages/store/internals/src/memoize.ts
  packages/store/src/decorators/select/symbols.ts
  packages/store/src/internal/internals.ts
  packages/store/src/internal/state-context-factory.ts
  packages/store/src/internal/state-factory.ts
  packages/store/src/public_api.ts
  packages/store/src/store.ts
  packages/store/src/utils/selector-utils.ts
  packages/store/tests/ensure-store.spec.ts
  packages/store/tests/store-isolation.spec.ts
Labels: domain: core, type: bug/fix

#1509 fix: add support for using state tokens in sub states
  CHANGELOG.md
  packages/store/src/state-token/state-token.ts
  packages/store/tests/store-isolation.spec.ts
Labels: domain: core, priority: medium, type: bug/fix
