Repository ngxs/store, pull requests merged in 2020-06, with the labels that each got.

#1607 fix(hmr-plugin): show error when use Angular Ivy with JIT mode
  packages/hmr-plugin/src/internal/hmr-lifecycle.ts
  packages/hmr-plugin/src/tests/hmr-manager.spec.ts
Labels: domain: plugins, priority: low, type: bug/fix

#1622 docs(optimizing-selectors): create page
  docs/SUMMARY.md
  docs/advanced/optimizing-selectors.md
Labels: domain: docs, type: docs

#1604 feat(form-plugin): add reset form action
  bundlesize.config.json
  docs/plugins/form.md
  packages/form-plugin/src/actions.ts
  packages/form-plugin/src/directive.ts
  packages/form-plugin/src/form.plugin.ts
  packages/form-plugin/tests/form.plugin.spec.ts
  publication/announcing_ngxs_next/article.md
Labels: domain: plugins, on hold, priority: low, type: feature
